html, body {
  width: 100%;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}

body {
  margin: 0px;
}

header, footer {
  height: fit-content;
  background-color: rgb(139, 185, 212);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header a {
  color: white;
}

.navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0%;
  padding: 1.5rem;
  gap: 2rem
  ;
}

.navigation a:hover {
  color: gray;
}

.title, footer h1 {
  padding: 10%;
}

header h1, footer h1 {
  font-size: 5rem;
}
header p {
  font-weight: bold;
}

/* main {
  padding: 10%;
} */

a {
  color: gray;
}

#about, #skills {
  color: gray;
  padding: 10%;
}

h1 {
  font-size: 3rem;
}

/* #about {
  padding: ;
} */

#about img {
  width: 100%;
  border-radius: 50%;
}

.contents {
  display: flex;
}

#about .caption {
  padding-left: 10%;
  text-align: left;
}

#works {
  background-color: rgb(139, 185, 212);
  padding: 10% 0%;
}

.items {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}

#works img {
  width: 30%;
}

#works a:hover {
  opacity: 0.5;
}

#works .items p{
  color: #ffffff;
}


/* 
.items {
  display: flex;
  grid-template-columns: 7.5rem 5rem 5rem 5rem 5rem;
  justify-content: space-around;
  gap: 3rem;
}
.categoly li {
  margin-bottom: 1rem;
  grid-column: 1 / 2;
  text-align: right;
}
.percentage {
  grid-column-start: 2;
  grid-column-end: 6;
  width: 500%;
} */

/* .items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 5rem;
} */

#skills div {
  display: flex;
  gap: 2rem;
  margin-bottom: 0.5rem;
}

.name p {
  width: 5rem;
  text-align: right;
}

.box p {
  color: white;
  font-weight: bold;
}

.box1, .box8 {
  background-color: rgb(203, 143, 198);
  width: 80%;
}

.box2, .box4, .box7 {
  background-color: rgb(139, 185, 212);
  width: 70%;
}

.box3, .box6 {
  background-color: rgb(140, 122, 157);
  width: 60%;
}

.box5 {
  background-color: gray;
  width: 50%;
}

.measure {
  text-align: left;
}


/* tr {
  height: 2rem;
  width: 100%;
}
.name {
  text-align: right;
}
.persentage {
  width: 100%;
  padding-left: 1rem;
  text-align: left;
  background-color: aqua;
}
.bar1, .bar8 {
  background-color: aqua;
  width: 80%;
}
.bar2, .bar4, .bar7 {
  background-color: blanchedalmond;
  width: 70%;
} */

button {
  background-color: #ffffff;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border-color: gray;
}
.top_link {
  position: fixed;
  bottom: 15px;
  right: 25px; 
}
