/* smartphone-first */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: fit-content;
  text-align: center;
}

body {
  /* margin: 0px; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}

header, footer {
  /* height: fit-content; */
  padding: 1.5rem;
  background-color: rgb(139, 185, 212);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: gray;
}

header a {
  color: white;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0%;
  padding: 1.5rem;
  gap: 2rem
  ;
}

nav a:hover {
  color: gray;
}

footer h1 {
  padding: 10%;
}

header h1, footer h1 {
  font-size: 4rem;
}
header p {
  font-weight: bold;
}

#about, #skills {
  color: gray;
}

#about, #works, #skills {
  padding: 2rem;
}

h1 {
  font-size: 3rem;
}

/* About me */
#about img {
  width: 35%;
  border-radius: 50%;
}

/* .contents {
  display: flex;
} */

#about .caption {
  /* padding-left: 5%; */
  text-align: left;
}

.caption a:hover {
  color: rgb(177, 177, 177);
}

/* Works */
#works {
  background-color: rgb(139, 185, 212);
}
#works p {
  margin-bottom: 3rem;
}

.items {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

#works img {
  width: 100%;
}

#works a:hover {
  opacity: 0.5;
}

#works p{
  color: #ffffff;
}

/* Skills */
#skills div {
  display: flex;
  gap: 2rem;
  margin-bottom: 0.5rem;
}

.name p {
  width: 5rem;
  text-align: right;
}

.box p {
  color: white;
  font-weight: bold;
}

.box {
  position: relative;
  left: 0;
  top: 0;
}

.box80 {
  background-color: rgb(203, 143, 198);
  width: 80%;
  animation-name: stretch80;
  animation-duration: 2s;
  animation-timing-function: linear;
}

.box70 {
  background-color: rgb(139, 185, 212);
  width: 70%;
  animation-name: stretch70;
  animation-duration: 2s;
  animation-timing-function: linear;
}

.box60 {
  background-color: rgb(140, 122, 157);
  width: 60%;
  animation-name: stretch60;
  animation-duration: 2s;
  animation-timing-function: linear;
}

.box50 {
  background-color: gray;
  width: 50%;
  animation-name: stretch50;
  animation-duration: 2s;
  animation-timing-function: linear;
}


.measure {
  text-align: left;
}

@keyframes stretch50 {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

@keyframes stretch60 {
  from {
    width: 0;
  }
  to {
    width: 60%;
  }
}
@keyframes stretch70 {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}

@keyframes stretch80 {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}

button {
  background-color: #ffffff;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border-color: gray;
}
button:hover {
  background-color: rgb(213, 224, 231);
}
.top_link {
  position: fixed;
  bottom: 15px;
  right: 25px; 
}

/* for tablet */
@media screen and (min-width:768px) {
  #about img {
    width: 80%;
  }
  #about .caption {
    padding-left: 5%;
  }
  .contents {
    display: flex;
  }
  #works img {
    width: 340px;
  }
}

/* for desktop */
@media screen and (min-width:1000px) {
  #about img {
    width: 100%;
  }
  #about .caption {
    padding-left: 5%;
  }
  .contents {
    display: flex;
  }
}