@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

/* smartphone-first */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: fit-content;
  text-align: center;
}

body {
  font-family: "Merriweather", serif;
  color: gray;
  font-size: 1.2rem;
}

header, footer {
  background-color: rgb(10, 24, 23);
  color: #ffffff;
}

header {
  background-image: url(images/banner.JPG);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: gray;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0%;
  padding: 1.5rem;
  gap: 2rem;
}

nav a {
  color: white;
}

nav a:hover {
  color: gray;
}

h1 {
  font-size: 3rem;
  border-bottom: solid gray;
}

header h1 {
  font-size: 4.5rem;
  border-bottom: none;
}

.text {
  margin: 2rem;
  margin-top: 5rem;
}
header p {
  font-weight: bold;
  font-size: 1rem;
}

#about, #works, #skills {
  padding: 2rem;
}

/* About me */
.profile img {
  width: 60%;
  border-radius: 50%;
}

.account img {
  width: 10%;
  border-radius: 0%;
  padding: 0.5rem;
}

#about .caption {
  text-align: left;
}

/* Works */
.items {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 3rem;
}

#works img {
  width: 100%;
  filter: drop-shadow(2px 2px 7px rgb(195, 195, 195));
}

#works a:hover {
  opacity: 0.5;
}

/* Skills */
#skills div {
  display: flex;
  gap: 2rem;
  margin-bottom: 0.5rem;
}

.name p {
  width: 5rem;
  text-align: right;
}

.box p {
  color: white;
  font-weight: bold;
}

.box {
  position: relative;
  left: 0;
  top: 0;
}

.box80 {
  background-color: rgb(203, 143, 198);
  width: 80%;
  animation-name: stretch80;
  animation-duration: 2s;
  animation-timing-function: linear;
}

.box70 {
  background-color: rgb(139, 185, 212);
  width: 70%;
  animation-name: stretch70;
  animation-duration: 2s;
  animation-timing-function: linear;
}

.box60 {
  background-color: rgb(140, 122, 157);
  width: 60%;
  animation-name: stretch60;
  animation-duration: 2s;
  animation-timing-function: linear;
}

.box50 {
  background-color: gray;
  width: 50%;
  animation-name: stretch50;
  animation-duration: 2s;
  animation-timing-function: linear;
}

.measure {
  text-align: left;
}

@keyframes stretch50 {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

@keyframes stretch60 {
  from {
    width: 0;
  }
  to {
    width: 60%;
  }
}
@keyframes stretch70 {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}

@keyframes stretch80 {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}

.button {
  margin-top: 3rem;
}

.button a {
  text-decoration: underline;
}
.button a:hover {
  color: rgb(199, 216, 204);
}
/* .top_link {
  position: fixed;
  bottom: 15px;
  right: 25px; 
} */

footer {
  padding: 1rem;
}

/* for tablet & desktop */
@media screen and (min-width:768px) {
  header h1 {
    margin-top: 5rem;
  }
  .text {
    margin-top: 3rem;
  }
  .profile {
    width: 40%;
  }
  .profile img {
    width: 100%;
  }
  .account img {
    width: 15%;
  }
  .container {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  #works img {
    width: 340px;
  }
}

/* for desktop */
/* @media screen and (min-width:1000px) {
  .image img {
    width: 100%;
  }
  .image {
    width: 50%;
  }
  #about .info {
    padding-left: 5%;
  }
  .account img {
    width: 20%;
  }
  .container {
    display: flex;
  }
} */